.App {
  text-align: center;
  
}

span {
  font-size: 18px;
  margin-right: 35px;
  padding-left: 55px;
}

.img {
  background-size: auto;
}

.header {
  width: 100%;
  height: 75px;
  background:#212529;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  padding-left: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  font-style: oblique;
  font-family: cursive;
}

.desktop-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
  padding-right: 65px;
}

 


@media (max-width: 768px) {
  .header {
    padding: 3px;
    height: 65px;
    width: 100vw;
  }
  span {
    font-size: 14px;
    color: green;
    
  }
  .logo {
    font-size: 16px;
    padding-left: 35px;
    color: hotpink;
  }
  .img {
    height: 1024px;
    background-position: center;
    background-size: cover;
    background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
  }
}

@media (max-width: 480px) {
  .header {
    height: 75px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-right: 65px;
  }
  span {
    font-size: 14px;
    color: red;
    
  }
  .logo {
    font-size: 16px;
    padding-left: 35px;
    color: greenyellow;
  }
  img {
    height: 1024;
    width: auto;
    background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
  }
}